@primary-color: #477CBF;

@layout-header-padding : 0px 0px;
@layout-header-background : #477CBF;
@layout-body-background: #ffffff;
@layout-footer-padding : 0px;

@border-radius-base: 2px;

@collapse-content-bg: #ffffff;
